:root {
    --color-light-both: #E1D4C9;
    --color-text-dark: #403F3D;
    --color-text-accent: #B0907A;
    --color-bg-dark: #665F55;
    --color-border: #C1B6AD;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    color: var(--color-text-dark);
    background: var(--color-light-both);
    margin: 0;
}

ul {
    list-style-type: none;
}

.hero-title .accent {
    color: var(--color-text-accent);

}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;

}

h3 {
    font-size: 24px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

.section {
    padding: 40px 0;
}

.container {
    width: 100%;
    max-width: 1408px;
    margin: 0 auto;
    padding: 0 24px;
}

.hero-title {
    margin-bottom: 0;
    text-align: left;
    font-weight: 600;
}

.btn {
    background-color: var(--color-light-both);
    border-radius: 50%;
    border: none;
    cursor: pointer;

    .btn_img {
        display: none;
    }
}

.btn:hover {
    .btn_img {
        display: flex;
    }
}